/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

html {
  background-color: #0c0c0c;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 2rem;
}

button {
  appearance: none;
  padding: 0;
}

select {
  appearance: none;
}

/* FONT SIZE */
body,
button,
select,
input,
form {
  font-size: 0.6rem;
}

@media (min-width: 355px) {
  body,
  button,
  select,
  input,
  form {
    font-size: 0.75rem;
  }
}

@media (min-width: 675px) {
  body,
  button,
  select,
  input,
  form {
    font-size: 0.9rem;
  }
}

/* SHARED CLASSES */
.main {
  align-items: center;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 6rem;
}

@media (min-width: 640px) {
  .main {
    margin-bottom: 8rem;
  }
}

.para-link {
  text-decoration: underline;
}

.para-link:hover,
.para-link:focus-visible {
  font-style: italic;
}

.para-link:focus-visible {
  outline: none;
}

@media (hover: none) {
  .para-link:hover,
  .para-link:focus-visible {
    font-style: normal;
  }
}

.plain-link:hover,
.plain-link:focus-visible {
  text-decoration: underline;
}

.plain-link:focus-visible {
  outline: none;
}

@media (hover: none) {
  .plain-link:hover,
  .plain-link:focus-visible {
    text-decoration: none;
  }
}

.heading-link {
  width: fit-content;
}

.heading-link:hover,
.heading-link:focus-visible {
  font-style: italic;
}

.heading-link:focus-visible {
  outline: none;
}

@media (hover: none) {
  .heading-link:hover,
  .heading-link:focus-visible {
    font-style: normal;
    outline: none;
  }
}

.button {
  border: 1px solid white;
  line-height: 100%;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
  width: max-content;
}

.button:hover,
.button:focus-visible {
  background-color: white;
  color: #0c0c0c;
}

.button:focus-visible {
  outline: none;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* UTILITY */
.nowrap {
  text-wrap: nowrap;
}

.hide-overflow-x {
  overflow-x: hidden;
}

.clip-overflow-y {
  overflow-y: clip;
}

.justify-center {
  justify-content: center;
}

.zero-margin {
  margin: 0;
}

/* MODAL */
.modal {
  align-items: center;
  background-color: rgba(12, 12, 12, 0.5);
  display: flex;
  height: 100dvh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 50;
}

/* SECTION TITLE */
.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 100%;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .section-title {
    font-size: 4.5rem;
  }
}

/* PAGE TITLE */
.page-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 100%;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .page-title {
    font-size: 4.5rem;
  }
}

/* INSTAGRAM HANDLE */
.instagram-handle {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  line-height: 100%;
}

.instagram-handle svg {
  flex-shrink: 0;
}

/* TATTOO GRID */
.tattoo-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.tattoo-grid-image {
  aspect-ratio: 185 / 240;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.tattoo-grid-tattoo {
  cursor: pointer;
  &:hover,
  &:focus-visible {
    outline: 1px solid white;
  }
}

@media (hover: none) {
  .tattoo-grid-tattoo {
    cursor: pointer;
    &:hover,
    &:focus-visible {
      outline: none;
    }
  }
}

@media (min-width: 500px) {
  .tattoo-grid {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .tattoo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* TATTOO MODAL */
.tattoo-modal-wrapper {
  align-items: center;
  background-color: #0c0c0c;
  border: 1px solid white;
  max-width: 300px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.tattoo-modal-image {
  aspect-ratio: 185 / 240;
  height: auto;
  width: 100%;
}

.tattoo-modal-close-button {
  align-self: self-end;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
}

.tattoo-modal-svg {
  color: white;
  height: 24px;
  width: 24px;
}

.tattoo-modal-content {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.tattoo-modal-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tattoo-modal-title {
  font-family: "Poppins", sans-serif;
  line-height: 110%;
  text-transform: uppercase;
}

.tattoo-modal-text {
  font-family: "IBM Plex Mono";
  line-height: 100%;
}

.tattoo-modal-buttons-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tattoo-modal-logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 90%;
  &:hover {
    font-style: italic;
  }
}

/* Having an element in the component that is italic and hidden prevents janky behavior
  on initial hover for hover italic effect. */
.tattoo-modal-logo::after {
  content: attr(data-text) / "";
  font-style: italic;
  overflow: hidden;
  height: 0;
  width: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;

  @media speech {
    display: none;
  }
}

.tattoo-modal-logo:focus-visible {
  outline: none;
  font-style: italic;
}

.tattoo-modal-close-button:focus-visible {
  outline: none;
}

.tattoo-modal-close-button:focus-visible svg {
  outline: 1px solid white;
}

@media (hover: none) {
  .tattoo-modal-close-button {
    outline: none;
  }

  .tattoo-modal-logo:focus-visible {
    outline: none;
    font-style: italic;
  }
}

/* CONTACT INFO */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
}

.contact-info-wrapper {
  display: flex;
  gap: 2rem;
}

.contact-info-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-info-link-wrapper {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.contact-info-link:hover,
.contact-info-link:focus-visible {
  text-decoration: underline;
}

.contact-info-link:focus-visible {
  outline: none;
}

.contact-info-address,
.contact-info-hours {
  width: 7.2rem;
}

.contact-info-address {
  display: flex;
  flex-direction: column;
}

.contact-info-location {
  display: flex;
  gap: 1rem;
}

.svg {
  fill: white;
  width: 300px;
}

@media (min-width: 355px) {
  .contact-info-address,
  .contact-info-hours {
    width: 9rem;
  }
}

@media (min-width: 400px) {
  .contact-info-location {
    gap: 2rem;
  }

  .contactInfo {
    gap: 1rem;
  }
}

@media (min-width: 675px) {
  .contact-info-address,
  .contact-info-hours {
    width: 11rem;
  }
}

/* SITE LAYOUT */
.layout {
  background-color: #0c0c0c;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

/* SITE HEADER */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.header-content {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: 100%;
}

.header-opaque {
  background-color: #0c0c0c;
}

.header-transparent {
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 400px) {
  .header-content {
    padding: 0 2rem;
  }
}

/* NAV */
.nav {
  left: 0;
  padding: 0.75rem 1rem 1.5rem 1rem;
  position: absolute;
  top: 100%;
  width: 100%;
  border-bottom: 1px solid white;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0;
  text-transform: uppercase;
}

.nav-button:hover,
.nav-button:focus-visible,
.nav-link:hover,
.nav-link:focus-visible {
  font-style: italic;
}

.nav-button:focus-visible,
.nav-link:focus-visible {
  outline: none;
}

/* Having an element in the component that is italic and hidden prevents janky behavior
on initial hover for hover italic effect. */
.nav-link::after,
.nav-button::after {
  content: attr(data-text) / "";
  font-style: italic;
  height: 0;
  width: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;

  @media speech {
    display: none;
  }
}

.nav-link::after {
  display: block;
}

@media (min-width: 400px) {
  .nav {
    padding: 1rem 2rem 2rem 2rem;
  }

  .nav-list {
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .nav {
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: static;
  }

  .nav-button::after {
    display: block;
  }

  .nav-list {
    flex-direction: row;
    gap: 4rem;
  }

  .nav-list-item-1,
  .nav-list-item-2,
  .nav-list-item-3 {
    position: absolute;
    top: 2rem;
  }

  .nav-list-item-1 {
    right: calc(26.57ch);
  }

  .nav-list-item-2 {
    right: calc(15.7ch);
  }

  .nav-list-item-3 {
    right: 2rem;
  }
}

/* NAV UTIL */
.nav-active {
  font-style: italic;
}

.nav-visible {
  display: flex;
}

.nav-hidden {
  display: none;
}

@media (min-width: 768px) {
  .nav-hidden {
    display: flex;
  }
}

.nav-opaque {
  background-color: #0c0c0c;
}

.nav-transparent {
  background-color: rgba(0, 0, 0, 0);
}

/* HEADER LOGO */
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 1rem;
  &:hover,
  &:focus-visible {
    font-style: italic;
  }
}

.logo span {
  transform: translateX(1.5px);
}

/* Having an element in the component that is italic and hidden prevents janky behavior
  on initial hover for hover italic effect. */
.logo::after {
  content: attr(data-text) / "";
  font-style: italic;
  overflow: hidden;
  height: 0;
  width: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;

  @media speech {
    display: none;
  }
}

.logo:focus-visible {
  outline: none;
}

.logo-static {
  padding: 1rem 0 0 0;
  position: static;
}

.logo-img {
  background: url("/images/logo.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

@media (min-width: 400px) {
  .logo {
    top: 2rem;
  }

  .logo-static {
    padding: 2rem 0 0 0;
  }
}

/* MENU BUTTON */
.menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.menu-button:focus-visible {
  outline: none;
}

.menu-button:focus-visible svg {
  outline: 1px solid white;
}

@media (hover: none) {
  .menu-button:focus-visible svg {
    outline: none;
  }
}

@media (min-width: 400px) {
  .menu-button {
    top: 2rem;
    right: 2rem;
  }
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button-x {
  padding: 0.25rem;
  transform: translateX(0.25rem);
}

/* HEADER BACK BUTTON */
.back-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.back-button-arrow {
  transform: scaleX(-100%) translateX(2px);
}

.back-button:focus-visible {
  outline: none;
}

.back-button:focus-visible svg {
  outline: 1px solid white;
}

@media (hover: none) {
  .back-button:focus-visible svg {
    outline: none;
  }
}

@media (min-width: 768px) {
  .back-button {
    display: none;
  }
}

/* ARTIST DROPDOWN MENU */
.artist-dropdown {
  align-items: center;
  background-color: #0c0c0c;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  left: 0;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 100%;
  width: 100%;
}

.artist-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.75rem 1rem 1rem 1rem;
  width: 100%;
}

.artist-dropdown-link {
  font-weight: bold;
  text-transform: uppercase;
}

.artist-dropdown-link:hover,
.artist-dropdown-link:focus-visible {
  font-style: italic;
}

.artist-dropdown-link:focus-visible {
  outline: none;
}

@media (min-width: 400px) {
  .artist-dropdown-wrapper {
    padding: 1rem 2rem 2rem 2rem;
  }
}

/* SITE FOOTER */
.footer {
  background-color: #0c0c0c;
  border-top: 1px solid white;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  justify-content: center;
  width: 100%;
}

.footer-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-width: 56rem;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 425px) {
  .footer-wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}

.footer-list {
  display: flex;
  gap: 1rem;
}

.footer-list li,
.footer-list a {
  display: flex;
  align-items: center;
}

.footer-list a:hover,
.footer-list a:focus-visible {
  text-decoration: underline;
}

.footer-social:focus-visible {
  outline: 1px solid white;
}

.footer-link:hover,
.footer-link:focus-visible {
  outline: none;
  text-decoration: underline;
}

@media (hover: none) {
  .footer-social:focus-visible {
    outline: none;
  }

  .footer-link:hover,
  .footer-link:focus-visible {
    outline: none;
    text-decoration: none;
  }
}

/* HOME PAGE */
.home-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
  max-width: 56rem;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 400px) {
  .home-section {
    padding: 0 2rem;
  }
}

@media (min-width: 640px) {
  .home-section {
    margin-top: 10rem;
  }
}

/* HOME - SITE HEADING */
.site-title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 100%;
}

@media (min-width: 640px) {
  .site-title {
    font-size: 4.5rem;
  }
}

/* HOME - LANDING SECTION */
.landing-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 12rem;
  max-width: 56rem;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.landing-heading {
  grid-column: span 2;
  z-index: 10;
}

.landing-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  position: static;
  bottom: 0;
  width: 125%;
}

.landing-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: span 2;
  line-height: 2rem;
  position: relative;
}

.landing-image {
  aspect-ratio: 300 / 200;
  object-fit: cover;
  width: 100%;
}

.landing-image-main {
  display: block;
}

.landing-image-wrapper {
  display: none;
}

@media (min-width: 400px) {
  .landing-section {
    padding: 0 2rem;
  }
}

@media (min-width: 500px) {
  .landing-images {
    gap: 2rem;
  }
}

@media (min-width: 640px) {
  .landing-section {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .landing-images {
    order: 3;
    display: grid;
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    position: absolute;
    gap: 2rem;
    grid-row: span 2;
    grid-template-columns: 1fr;
  }

  .landing-text {
    order: 2;
    grid-column: span 1;
    grid-row: span 2;
  }

  .landing-image-wrapper {
    display: block;
  }

  .landing-image {
    aspect-ratio: 550 / 310;
  }
}

/* HOME PAGE - ARTISTS SECTION */
.artists-section {
  margin-top: 8rem;
  max-width: 56rem;
  padding: 0 1rem;
  width: 100%;
}

.artists-heading {
  margin-bottom: 2rem;
}

.artists-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.artists-svg {
  color: white;
  margin: 0 auto;
  width: 60%;
}

@media (min-width: 400px) {
  .artists-section {
    padding: 0 2rem;
  }
}

@media (min-width: 500px) {
  .artists-grid {
    gap: 2rem;
  }
}

@media (min-width: 640px) {
  .artists-section {
    margin-top: 10rem;
  }
}

@media (min-width: 765px) {
  .artists-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* HOME PAGE - ARTIST CARD */
.artist-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.artist-card-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.artist-card-link:hover .artist-card-image {
  outline: 1px solid white;
}

.artist-card-image {
  aspect-ratio: 400 / 400;
}

.artist-card-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 110%;
  text-transform: uppercase;
}

.artist-card-position {
  text-transform: uppercase;
}

.artist-card-link:hover .artist-card-name {
  font-style: italic;
}

.artist-card-link:focus-visible img,
.artist-card-link:focus-visible h3 {
  outline: none;
}

.artist-card-link:focus-visible img {
  outline: 1px solid white;
}

@media (min-width: 420px) {
  .artist-card-name {
    font-size: 1.5rem;
  }
}

@media (min-width: 675px) {
  .artist-card-name {
    font-size: 1.75rem;
  }
}

@media (min-width: 700px) {
  .artist-card-name {
    font-size: 1.875rem;
  }
}

@media (min-width: 740px) {
  .artist-card-name {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .artist-card-name {
    font-size: 2.25rem;
  }
}

/* ARTIST PAGE */
.artist-heading-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.artist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 12rem;
  max-width: 56rem;
  padding: 0 1rem;
}

.artist-heading-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  z-index: 20;
}

.artist-images {
  display: flex;
  gap: 1.5rem;
  top: 0;
  left: 38%;
  height: 200px;
  width: 130%;
}

.artist-image {
  display: flex;
  min-height: 100%;
  width: 100%;
}

.artist-title {
  line-height: 100%;
  text-transform: uppercase;
  text-wrap: nowrap;
}

@media (min-width: 400px) {
  .artist-wrapper {
    padding: 0 2rem;
  }
}

@media (min-width: 500px) {
  .artist-images {
    gap: 2rem;
  }
}

@media (min-width: 600px) {
  .artist-image {
    aspect-ratio: 500 / 440;
  }

  .artist-heading-grid {
    flex-direction: row;
  }

  .artist-heading-text {
    margin: 2rem 0;
  }

  .artist-images {
    position: absolute;
    height: 100%;
    width: 120%;
  }
}

@media (min-width: 640px) {
  .artist-heading-grid {
    gap: 2rem;
    height: 255px;
  }

  .artist-heading-text {
    grid-column: span 1;
    margin: 0;
  }
}

.artist-bio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  line-height: 2rem;
}

@media (min-width: 550px) {
  .artist-bio {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.artist-email {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  line-height: 100%;
}

.artist-email svg {
  flex-shrink: 0;
}

/* ABOUT PAGE */
.about-wrapper {
  margin-top: 12rem;
  max-width: 56rem;
  padding: 0 1rem;
  width: 100%;
}

.about-grid {
  align-items: end;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
}

.about-image-top {
  bottom: calc(100% + 2rem);
  position: absolute;
}

.about-image-last {
  display: block;
}

.about-images {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: fit-content;
  width: 130%;
}

.about-image {
  aspect-ratio: 550/310;
  object-fit: cover;
  width: 100%;
}

.about-section-text {
  line-height: 32px;
}

.about-section-text--intro {
  align-self: start;
}

.about-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.about-section,
.about-booking-section {
  margin-top: 8rem;
}

.about-svg {
  fill: white;
  flex-basis: 50%;
  grid-column: span 1;
  display: none;
}

.about-booking-section {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.about-booking-heading {
  grid-column: 1 / span 1;
  order: -1;
}

.about-booking-text {
  grid-row-start: 2;
  grid-row-end: 2;
  line-height: 2rem;
}

@media (min-width: 400px) {
  .about-wrapper {
    padding: 0 2rem;
  }
}

@media (min-width: 500px) {
  .about-images {
    gap: 2rem;
  }
}

@media (min-width: 550px) {
  .about-booking-heading {
    grid-column: span 2;
    grid-row: 1 / 1;
    order: -1;
  }

  .about-booking-section {
    grid-template-columns: 1fr 1fr;
  }

  .about-svg {
    grid-column: 1 / 1;
    grid-row: 2 / span 2;
    display: inline-block;
  }
}

@media (min-width: 640px) {
  .about-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .about-section,
  .about-booking-section {
    margin-top: 10rem;
  }

  .about-images {
    align-content: start;
    display: grid;
    gap: 2rem;
    grid-row: span 2;
    grid-template-columns: 1fr;
    position: relative;
    transform: translateX(0);
    height: auto;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .about-booking-heading {
    grid-column: span 1;
    order: 0;
  }

  .about-svg {
    grid-column: span 1;
    grid-row: 1 / span 2;
  }
}

/* 404 Page */
.notfound-text {
  line-height: 2rem;
}

.notfound-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FAQ PAGE */
.faqs-wrapper div:last-child .faq-answer {
  padding: 0;
}

.faq-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 12rem;
  max-width: 56rem;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 400px) {
  .faq-wrapper {
    padding: 0 2rem;
  }
}

.faq-question {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 1rem;
  letter-spacing: 0.2rem;
  padding-block: 1rem;
}

/* Having an element in the component that is italic and hidden prevents janky behavior
on initial hover for hover italic effect. */
.faq-question::after {
  content: attr(data-text) / "";
  font-style: italic;
  overflow: hidden;
  height: 0;
  width: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;

  @media speech {
    display: none;
  }
}

.faq-question:hover,
.faq-question:focus-visible {
  font-style: italic;
}

.faq-question:focus-visible {
  outline: none;
}

.faq-answer {
  line-height: 2rem;
  margin-left: calc(1rem + 24px);
  padding: 0 0 1rem 0;
}

.faq-svg {
  flex-shrink: 0;
}

@media (hover: none) {
  .faq-question:hover,
  .faq-question:focus-visible {
    font-style: normal;
  }
}

/* CONTACT PAGE */
.contact-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 12rem;
  max-width: 56rem;
  padding: 0 1rem;
  width: 100%;
}

.contact-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 400px) {
  .contact-wrapper {
    padding: 0 2rem;
  }
}

@media (min-width: 880px) {
  .contact-content {
    flex-direction: row;
  }
}
